body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F2D5DB;
}

nav {
    background-color: #F2AEC1;
}

.botonera {
    width: 100px;
}
.font-primary {
    font-family: 'Oooh Baby', cursive;
}

.bg-pink-1 {
    background-color: #F2D5DB;
}

.bg-pink-2 {
    background-color: #F2AEC1;
}

.logo {
    height: 40px;
    width: auto;
}

.productoEnCarrito {
    height: 100px;
}

.pink {
    text-decoration: none;
    color:#40091D;
}
.pink:hover {
    color: #f3f3f4;
}

.compra {
    background-color: #F2AEC1;
    color: black;
    border: none;
    border-radius: 12px;
    width: 75%;
    margin: auto;
}
.compra:hover {
    scale: 1.02;
    transition: all 0.1s ease-in;
}
.compra:active {
    transform: translateY(1px) translateX(-1px);
}

.btn-carrito {
    border: #F2AEC1 2px solid;
    width: 30px;
    border-radius: 100px;
    color: #40091D;
}
.btn-carrito:active {
    transform: translateY(1px) translateX(-1px);
}

.btn-eliminar {
    border: #F2AEC1 2px solid;
    border-radius: 10px;
    color: #262626;
    scale: 1.2;
}
.btn-eliminar:active {
    transform: translateY(1px) translateX(-1px);
}

.input {
    height: 40px;
    width: 100%;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}


.hero {
    height: 550px;
    background-image: url(Imagenes/Fondo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero div {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

